version: "3"

services:
  reverse_proxy:
    container_name: reverse_proxy
    image: nginx:latest
    restart: always
    ports:
      - "443:443"
      - "80:80"
    depends_on:
      - sonarqube
    volumes:
      - ./config/sq-proxy.conf:/etc/nginx/conf.d/sq-proxy.conf
      - ./certs:/etc/pki/tls/sonar
    networks:
      - sonar-network


  sonarqube:
    container_name: sonarqube
    image: karimfadl/sonarqube:latest 
    restart: always
    expose:
      - "9000"
    depends_on:
      - db
    environment:
      - sonar.jdbc.url=jdbc:postgresql://db:5432/sonarqube
      - sonar.jdbc.username=sonar
      - sonar.jdbc.password=sonar
    volumes:
      - sonarqube_conf:/opt/sonarqube/conf
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    networks:
      - sonar-network


  db:
    container_name: db
    image: postgres:14
    restart: always
    expose:
      - "5432"
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
      - POSTGRES_DB=sonarqube
    volumes:
      - postgresql:/var/lib/postgresql
      - postgresql_data:/var/lib/postgresql/data
    networks:
      - sonar-network


volumes:
  sonarqube_conf:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  postgresql:
  postgresql_data:


networks:
  sonar-network:
    driver: bridge
